.login-form {
  margin: 3em;
  display: block;
}

.login-buttons {
  margin: 5em;
}

.input-field {
  margin: 1em;
  height: 115%;
  width: 70%
  font-size: 5em;

}

.register-button {
  margin-left: 3.53em;
}

.project-select {
  margin: 0.70em;
  width: 92%;
}

.header-info {
  text-align: center;
  border-style: solid;
  background-color: #FF7400;
  border-color: #FF7400;
  color: white;
}

.login-input{
  margin-left: 16em;
}

#myacct {
  margin-left: 10%;
}
